


.weather-header{
    background:linear-gradient(to right, rgb(0, 110, 255), rgb(45, 0, 128));
    margin-bottom: 2%;

}

#form-label{
    margin-bottom: 2%; 
}

#search{
    margin-top: 0%;
    display: block;
}

#today {
   border-color: black;
   border-style: solid;
   border-width: 1px;
   margin-bottom: 3%;
}



#forecast{
background-color: white;
    
   

}

.forecastCard{
    padding: 1%;
    margin: 1%;
    background-color: rgb(57, 75, 124);
    border-color: rgb(39, 39, 39);
    color:white;
    border-style: solid;
   border-width: 1px;
}

.card-body{
    margin: 1%;

}

#icon{
    display:inline-block;
}

h5{
    display: inline-block
}